body
{
    font-family: 'Montserrat', sans-serif;
}
.padding-Zero{
    text-transform: capitalize;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #FFFFFF;
}
/* START OF Header STYLE */
.head-padding{
    margin-bottom: 10px;
    margin-top: 5px;
}


.rowheight{
    margin-top: 10px;
}
.mat-ink-bar {
    background-color: #90C40A;
}
.h4, h4 {
    font-size: 18px;
    margin-top: 37px;
    margin-left: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: -webkit-center;
    border-top: 1px solid #e5e5e5;
}

.col-md-offset-1 {
    margin-left: 8.33333333%;
    margin-bottom: 15px;
    margin-top: 15px;
}
.labels{
       /* font-weight: 600; */
       padding-left: 20px;
       /* font-size: 15px; */
       /* font-family: 'Varela Round', sans-serif!important; */
       padding-top: 10px;
       /* color: #505252; */
       text-transform: capitalize;
}
.labellcs{
    /* font-weight: 600; */
    padding-left: 6px;
    /* font-size: 15px; */
    /* font-family: 'Varela Round', sans-serif!important; */
    padding-top: 0px;
    /* color: #505252; */
    text-transform: capitalize;
}
.star{
    color: red;
    font-weight: 600;
    font-size: 15px;
}

.addbutton{
    margin-top: 15PX;
    margin-bottom: 15PX;
    width: 100%;
    color: white;
    background-color: #F8831D;
}
.error{
    padding: 5px;
}
.panel-default{
   
    width: 100;
}

.inputbox 
{
    margin-bottom: 5px;
    
}
.alert-danger {
    color: #f1130f;
    background-color: white;
    border-color: #ffffff;
}
.alert {
      margin-bottom: 1px;
    border: 0px;
    border-radius: 0px;
}
.overflowTest{
        width: 100%;
        text-transform: capitalize;
        overflow: scroll;
    }
    .question-size{
        color: #90C40A;
       font-size: 65px;
    }
    .question-text{
        text-align: center;
        margin-top: 20px;
    }
    .btn.focus, .btn:focus, .btn:hover {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    .mat-ink-bar {
        background-color: #FC6701;
    }
    .panel-success>.panel-heading {
        color: #FC6701;
        background-color: whitesmoke;
        border-color: antiquewhite;
    }
    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        background-color: #FC6701;
        color: white;
        text-transform: uppercase;
        border-radius: 0.5em;
        margin-bottom: 5px;
    }