<div class="row bg">
  <div class="col-md-6 col-md-offset-3 " >
    <div class="loginbg">
        <div class="heading" >Forgot Password</div>

      <form #loginForm="ngForm"  >
       
        <div class="row  headerpadding" >
          <div class="col-md-offset-3 col-md-6">
            <div  class=" text-center labels">
              Email:
            </div>  
            <input type="text" class="form-control " name="email"   #email="ngModel" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required [(ngModel)]="forgot.email" autocomplete="off">  
            <!-- pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" -->
            <div [hidden]="email.valid || email.untouched">
              <div *ngIf="email.errors && email.errors.required" class="alert alert-danger error">
                Please enter a  email.
              </div>
              <div *ngIf="email.errors && email.errors.pattern" class="alert alert-danger error">
                  Please enter a valid email.
                </div>
            </div>
          </div>
          <div class="col-md-offset-3 col-md-6">
            <div  class=" text-center labels">
              UserName:
            </div>  
            <input type="text" class="form-control " name="username"   #username="ngModel"  [(ngModel)]="forgot.username" required>  
            <!-- pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" -->
            <div [hidden]="username.valid || username.untouched">
              <div *ngIf="username.errors && username.errors.required" class="alert alert-danger error">
                Please enter a  UserName.
              </div>
              <div *ngIf="username.errors && username.errors.pattern" class="alert alert-danger error">
                  Please enter a valid UserName.
                </div>
            </div>
          </div>
          </div>

         
       
        <div class="row forgettext">
          
          
          <div class=" col-md-offset-4 col-md-6" >
            <button  type="submit" class="btn btn-default loginbutton" (click)="checkEmail()" [disabled]="!loginForm.valid">Get OTP</button>
            
          </div>          
        </div>
</form>

<form #loginForm1="ngForm"  >
  <div class="row  headerpadding" >
          <div class=" col-md-offset-3 col-md-6 " >
            <div class="  text-center labels" >
              Enter OTP
            </div>  

            <input  type="password" class="form-control " name="otp" #otp="ngModel" pattern="[0-9]*"  required [(ngModel)]="forgot.otp">  
            <div [hidden]="otp.valid || otp.untouched">
              <div *ngIf="otp.errors && otp.errors.required" class="alert alert-danger error">
                Please enter an OTP
              </div>
              <div *ngIf="otp.errors && otp.errors.pattern" class="alert alert-danger error">
                Please enter a valid email.
              </div>
              

            </div>
          </div>          
        </div> 


        <div class="row forgettext">
          
          
          <div class=" col-md-offset-4 col-md-6" style="padding-left:10px;" >
            <button  type="submit" class="btn btn-default loginbutton" (click)="checkOtpNumber()" [disabled]="!loginForm1.valid">Verify</button>
            
          </div>          
        </div>
</form>


<form #loginForm2="ngForm"  >
  <div class="row  headerpadding" >
    <div class=" col-md-offset-3 col-md-6 " >
      <div class="  text-center labels" >
    New Password
      </div>  

      <input  type="password" class="form-control " name="newpassword" #newpassword="ngModel" pattern="^[a-z0-9_-]{4,15}$"   required [(ngModel)]="forgot.newpassword">  
      <div [hidden]="newpassword.valid || newpassword.untouched">
        <div *ngIf="newpassword.errors && newpassword.errors.required" class="alert alert-danger error">
          Please enter new password
        </div>

        <div *ngIf="newpassword.errors && newpassword.errors.pattern" class="alert alert-danger error">
          Please enter a valid email.
        </div>
        

      </div>
    </div>          
  </div> 




  <div class="row  headerpadding" >
    <div class=" col-md-offset-3 col-md-6 " >
      <div class="  text-center labels" >
        Confirm Password
      </div>  

      <input  type="password" class="form-control " name="conpassword" #conpassword="ngModel" pattern="^[a-z0-9_-]{4,15}$"  required [(ngModel)]="forgot.conpassword">  
      <div [hidden]="conpassword.valid || conpassword.untouched">
        <div *ngIf="conpassword.errors && conpassword.errors.required" class="alert alert-danger error">
          Please enter confirm password
        </div>


        <div *ngIf="conpassword.errors && conpassword.errors.pattern" class="alert alert-danger error">
          Please enter a valid email.
        </div>
        
        

      </div>
    </div>          
  </div> 




  <div class="row forgettext">
          
          
    <div class=" col-md-offset-4 col-md-6" style="padding-left:10px;" >
      <button type="submit" class="btn btn-default loginbutton" (click)="setUserPassword()" [disabled]="!loginForm2.valid">Submit</button>
      
    </div>          
  </div>




      </form>

      
    </div>
  </div>
 

</div>