<div class="container-fluid">
  <!-- HEADER START -->
  <app-header></app-header>
  <!-- HEADER END -->

  <div class="row">

    <div class="col-md-2">
              <app-sidemenu></app-sidemenu>
     
    </div>

    <div class="col-md-10 " style=" margin-top: 16px;">
      <md-tab-group dynamicHeight=true>

        <md-tab label="View Profile">
        <div>
          <div class="panel panel-heading"><b style="font-size:20px;font-family: 'Montserrat', sans-serif;">Admin Profile</b> </div>

            <form>

              <div class="body-content">

                <div class="row rowheight">
                  <div class="col-md-4">
                    <div class="labels">Name
                      <span class="star">*</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div>Ariant Veg</div>
                  </div>
                </div>

                <div class="row rowheight">
                  <div class="col-md-4">
                    <div class="labels"> Email
                      <span class="star">*</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                  <div>marketing@ariantveg.com</div>
                  </div>
                </div>

                <div class="row rowheight">
                    <div class="col-md-4">
                      <div class="labels">Phone Number
                        <span class="star">*</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div>9513565656</div>
                    </div>
                </div>

                <div class="row rowheight">
                      <div class="col-md-4">
                        <div class="labels"> Address
                          <span class="star">*</span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div>#81/12,Nisarga margh,Nandi nagar,Pramod layout, Near PES College, Nice Road Toll Gate, Bengaluru-560039</div>
                      </div>
                </div>

              </div>

            </form>

        </div>
        <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=52.5200066, 13.404954&ie=UTF8&&output=embed"></iframe>
        <!-- <button type="button" class="btn customsuccess icon-color" data-toggle="modal" data-target="#edit">
            <span>SET PASSWORD</span>
        </button> -->
</md-tab>
<md-tab label="View Locations">
      <div class="container">
        <div class="card-columns">
          <br>
          <div class="row">
            <div class="col-md-6 card">
          <div class="card bg-primary">
            <div class="card-body text-center">
              <p class="card-text">
                <b style="font-size: 20px;">Vijayawada</b><br>
                 Ariant Veg Pvt Ltd, Vijayawada<br>
                 +91 8030186180<br>
                 marketing@ariantveg.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 card">
          <div class="card bg-primary">
            <div class="card-body text-center">
              <p class="card-text">
                <b style="font-size: 20px;">Hyderabad</b><br>
                Ariant Veg Pvt Ltd, Hyderabad<br>
                +91 8033015939<br>
                marketing@ariantveg.com</p>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6 card">
          <div class="card bg-primary">
            <div class="card-body text-center">
              <p class="card-text">
                <b style="font-size: 20px;">Chennai</b><br>
                Ariant Veg Pvt Ltd, Chennai<br>
                +91 8033015922<br>
                marketing@ariantveg.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 card">
          <div class="card bg-primary">
            <div class="card-body text-center">
              <p class="card-text">
                <b style="font-size: 20px;">Mangalore</b><br>
                Ariant Veg Pvt Ltd, Mangalore<br>
                +91 8030424838<br>
                marketing@ariantveg.com</p>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6 card">
          <div class="card bg-primary">
            <div class="card-body text-center">
                <p class="card-text">
                    <b style="font-size: 20px;">Berlin</b><br>
                    Ariant Veg Pvt Ltd, Berlin<br>
                    +91 8030076796<br>
                    marketing@ariantveg.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 card">
          <div class="card bg-primary">
            <div class="card-body text-center">
              <p class="card-text"> 
                <b style="font-size: 20px;">Coimbatore</b><br>
                Ariant Veg Pvt Ltd, Coimbatore<br>
                +91 8030186367<br>
                marketing@ariantveg.com</p>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6 card">
          <div class="card bg-primary">
            <div class="card-body text-center">
              <p class="card-text">
                <b style="font-size: 20px;">Dubai</b><br>
                Ariant Veg Pvt Ltd, Dubai<br>
                +91 8033015405<br>
                marketing@ariantveg.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 card">
          <div class="card bg-primary">
            <div class="card-body text-center">
              <p class="card-text">
                <b style="font-size: 20px;">London</b><br>
                Ariant Veg Pvt Ltd, London<br>
                +91 8030076735<br>
                marketing@ariantveg.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 card">
            <div class="card bg-primary">
              <div class="card-body text-center">
                  <p class="card-text">
                      <b style="font-size: 20px;">Thiruvananthapuram</b><br>
                      Ariant Veg Pvt Ltd, Thiruvananthapuram<br>
                      +91 8033139785<br>
                      marketing@ariantveg.com</p>
              </div>
            </div>
          </div>
        </div> 
        </div>
      </div>
</md-tab>
</md-tab-group>
    </div>

  </div>

</div>

<!-- ///////////////////////////Set Password modal////////////////////////////////// -->
          <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            
            <div class="modal-dialog  modal-lg" role="document">

              <div class="modal-content">

                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="spancacel" aria-hidden="true">&times;</span>
                      </button>
                      <h3 class="modal-title" id="myModalLabel">
                      SET PASSWORD
                      </h3>
                  </div>
                  
                  <div>
                      <form #SetPasswordForm="ngForm">

                          <div class="body-content">

                            <div class="row rowheight">
                              <div class="col-md-4">
                                <div class="labels"> Enter Password:
                                  <span class="star">*</span>
                                </div>
                              </div>
                              <div class="col-md-6">
                                  <input  type="text" class="form-control inputbox" name="password" #password="ngModel"  required [(ngModel)]="profile.password">  
                                  <div [hidden]="password.valid || password.untouched">
                                    <div *ngIf="password.errors && password.errors.required" class="alert alert-danger error">
                                      Please enter a valid Password.
                                    </div>
                                  </div>
                              </div>
                            </div>
                            
                            <div class="row rowheight">

                              <div class="col-md-4">
                                <div class="labels"> Confirm password:
                                  <span class="star">*</span>
                                </div>
                              </div>

                              <div class="col-md-6">
                                  <input  type="text" class="form-control inputbox" name="password1" #password1="ngModel"  required [(ngModel)]="profile.password1">  
                                  <div [hidden]="password1.valid || password1.untouched">
                                    <div *ngIf="password1.errors && password1.errors.required" class="alert alert-danger error">
                                      Please enter a valid Password.
                                    </div>
                                  </div>
                              </div>
                              
                            </div>
                            
                          </div>
                          
                          <div class="modal-footer">
                            <button class="btn  customsuccess customsuccess icon-color" [disabled]="!SetPasswordForm.valid" (click)="setpassword()">Set password</button>
                            <button type="submit" data-dismiss="modal" class="btn  customsuccess icon-color">cancel</button>
                          </div>
                        
                      </form>
                  </div>
              
              </div>
            
            </div>
            
          </div>
<!-- ///////////////////////////Set Password modal////////////////////////////////// -->
      