<div class="bgcolor">
        <div class="padding-side-menu">
          <button class="button-design" [routerLink]="['/dashboard']" [routerLinkActive]="['active']">
            <a class="glyphiconcolor">
              <span><img src="http://www.schoolsgottalent.in/ariant/public/images/web-page-home.png" ></span>
            </a>Dashboard
          </button>
        </div>

        <div class="padding-side-menu">
          <button class="button-design" [routerLink]="['/Products']" [routerLinkActive]="['active']"><a class="glyphiconcolor">
            <span><img src="http://www.schoolsgottalent.in/ariant/public/images/vegetables.png" ></span>
            </a>Products
          </button>
        </div>

        <div class="padding-side-menu">
          <button class="button-design" [routerLink]="['/category']" [routerLinkActive]="['active']">
            <a class="glyphiconcolor">
              <span><img src="http://www.schoolsgottalent.in/ariant/public/images/category-add-button.png"></span>
            </a>Category
          </button>
        </div>

        <div class="padding-side-menu">
          <button class="button-design" [routerLink]="['/customer']" [routerLinkActive]="['active']">
            <a class="glyphiconcolor">
              <span><img src="http://www.schoolsgottalent.in/ariant/public/images/specialist-user.png"></span>
            </a>Customer
          </button>
        </div>

        <div class="padding-side-menu">
          <button class="button-design" [routerLink]="['/order']" [routerLinkActive]="['active']">
            <a class="glyphiconcolor">
              <span><img src="http://www.schoolsgottalent.in/ariant/public/images/online-shop.png"></span>
            </a>Order History
          </button>
        </div>

        <div class="padding-side-menu">
          <button class="button-design" [routerLink]="['/OrderLTthirty']" [routerLinkActive]="['active']">
            <a class="glyphiconcolor">
              <span><img src="http://www.schoolsgottalent.in/ariant/public/images/online-shop (1).png"></span>
            </a>Orders <30 kgs 
          </button>
        </div>

        <div class="padding-side-menu">
            <button class="button-design" [routerLink]="['/Pincode']" [routerLinkActive]="['active']">
              <a class="glyphiconcolor">
                <span><img src="http://www.schoolsgottalent.in/ariant/public/images/placeholder.png"></span>
              </a>Pincode Search
            </button>
        </div>

        <div class="padding-side-menu">
          <button class="button-design" [routerLink]="['/profile']" [routerLinkActive]="['active']">
            <a class="glyphiconcolor">
              <span><img src="http://www.schoolsgottalent.in/ariant/public/images/user.png"></span>
            </a>My Profile
          </button>
        </div>

        <div class="padding-side-menu">
          <button class="button-design" [routerLink]="['/contactus']" [routerLinkActive]="['active']">
            <a class="glyphiconcolor">
              <span><img src="http://www.schoolsgottalent.in/ariant/public/images/phone-call.png"></span>
            </a> Contact Us 
          </button>
        </div>

        <div class="padding-side-menu">
          <button class="button-design" [routerLink]="['/login']" [routerLinkActive]="['active']">
            <a class="glyphiconcolor">
              <span><img src="http://www.schoolsgottalent.in/ariant/public/images/logout.png"></span>
            </a> Logout
          </button>
        </div>

</div>